.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.background{
    background: url('https://raw.githubusercontent.com/Athiropi/Wolvden/main/Personal/Images/Final.jpeg')
}